{% extends 'base_teacher.html' %}
{% load static %}
{% block content %}

  <object data="/static/dependency_graph.html" width="100%" height="600px">
    <p>Le contenu HTML n'a pas pu être affiché. Veuillez vérifier que le chemin du fichier est correct.</p>
  </object>
  <hr>
  <hr>
  <hr>  
    <!-- Inclure les fichiers CSS de base.html -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">

    <!-- Inclure les fichiers JS de base.html -->
    <script src="{% static 'js/main.js' %}"></script>
 
{% endblock content %}
